<div style='margin-bottom:16px ; padding-bottom:10px' class='border-bottom row'>
  <div class='col-10'>
    <h4 style='color:rgb(120,120,120);margin-        
    bottom:4px'> {{job['title']}} </h4>
    
    <h6> <b>Location :</b> {{job['location']}}           </h6> 
    
    <h6> <b>Salary :</b> {{job['salary']}}</h6>
  </div>


  <div class='col-2'>
    <a href="mailto:softtech@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20name%20%3A%20%3Cyour%20name%3E%0D%0AMy%20resume%20%3A%20%3Cyour%20resume%3E%0D%0ALinkedin%20profile%3A%20%3Clinkedin%20profile%20link%3E" type="button" class="btn btn-outline-primary" target='_blank'>Apply</a>
  </div>
</div>